In [1]:
import streamlit as st
import pandas as pd
import sqlalchemy as sq
import datetime as dt

In [2]:
engine = sq.create_engine('sqlite:///data/find_me.db')
cnx = engine.connect()

In [16]:
df = pd.DataFrame({
    'current_loc':['current city'],
    'current_date':[dt.datetime.now().date()],
    'future_loc':['new city'],
    'future_date':[dt.datetime.strptime('2021-02-28','%Y-%m-%d')]
})

In [17]:
df.to_sql('location',con=cnx,if_exists='replace',index=False)

In [3]:
pd.read_sql('location',cnx)

    current_loc current_date future_loc future_date
0  current city   2021-02-23   new city  2021-02-28

In [ ]:
st.image()